<%= render partial: "layouts/flash" %>

<% pears = false %>

<% if pears then %>
    <%= image_tag "Jonathan_Fischer_pears.jpg", alt: "A picture of me", class: "about-portrait hovering", title: "I am master of the pears." %>
<% else %>
    <%= image_tag "Jonathan_Fischer_portrait.jpeg", alt: "A picture of me", class: "about-portrait hovering"%>
<% end %>

<h2>About Me</h2>

<br>

<p>Hi, I'm Jonathan! I'm a student at Carnegie Mellon University currently studying Information Systems, Game Design, and Sonic Arts. I am also a member of the <%= link_to "Game Creation Society", "https://www.gamecreation.org/", target: "_blank" %>, a student organization at CMU. Along with things I make in my own time, I've gotten the opportunity to work on some amazing projects as part of my studies and with GCS.</p>

<p>Here, I have decided to showcase a selection of those projects, along with some commentary about my thought process while creating. Just pick a category on the navbar above to get started. I hope you enjoy!</p>

<div style="clear: right;"></div>