<p id="notice"><%= notice %></p>

<h1>All Tags</h1>
<hr>

<% @tags.active.map{|t| t.category}.uniq do |c| %>
  <h5><%= c %></h5>
  <ul class="tags-list">
    <% @tags.for_category(c).each do |t| %>
      <li><%= link_to t.name, t %></li>
    <% end %>
  </ul>
<% end %>

<br>

<% if can? :create, Tag %>
  <%= link_to 'New Tag', new_tag_path %>
<% end %>