// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h5.dates {
    font-style: italic;
}

div.tags {
    font-size: 10pt;
}

ul.tags {
    padding-left: 0px;
    height: max-content;
    svg {
        /* float: left; */
    }
    li {
        list-style-type: none;
        float: left;
        padding: 5px;
    }
}

ul.links, ul.files {
    padding-left: 10px;
    max-width: fit-content;
}

ul.links li, ul.files li {
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    border-color: var(--purple-light-2);
    padding: 10px;
    box-shadow: 0 2px 4px var(--purple-gray-2-light);
    svg {
        fill: var(--purple-gray-1);
        height: 2em; 
        width: 2em;
    }

    &:hover {
        position: relative;
        top: -2px;
        box-shadow: 0 4px 5px var(--purple-gray-2-light);
        background-color: var(--purple-gray-ultralight);
        svg {
            fill: var(--purple-core);
        }
    }
}

ul.files a, ul.links a {
    max-width: fit-content;
    &:hover {
        text-decoration: none;
        /*color: var(--cyan-core);*/
    }
}

li.link svg.external-link {
    fill: var(--purple-core);
    height: 1em;
    width: 1em;
}