// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h5.dates {
    font-style: italic;
}

div.tags {
    font-size: 10pt;
}

ul.tags {
    padding-left: 0px;
    height: max-content;
    margin-bottom: 0px;
    li {
        list-style-type: none;
        float: left;
        padding: 5px;
        margin-bottom: 5px;
        &.tag:hover {
            background-color: var(--purple-gray-ultralight);
            color: var(--cyan-dark-1);
            text-decoration: none;
            text-decoration-color: var(--cyan-dark-1);
        }
        &.tag:active {
            background-color: white;
        }
    }
}

ul.links, ul.files, ul.projects {
    padding-left: 10px;
    max-width: fit-content;
    a {
        max-width: fit-content;
        &:hover {
            text-decoration: none;
            /*color: var(--cyan-core);*/
        }
    }
}

ul.links li, ul.files li, ul.projects li {
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    border-color: var(--purple-light-2);
    padding: 10px;
    box-shadow: 0 2px 4px var(--purple-gray-2-light);
    svg {
        fill: var(--purple-gray-1);
        height: 2em; 
        width: 2em;
    }

    &:hover {
        position: relative;
        top: -2px;
        box-shadow: 0 4px 5px var(--purple-gray-2-light);
        background-color: var(--purple-gray-ultralight);
        svg {
            fill: var(--purple-core);
        }
    }
    &:active {
        position: relative;
        top: 2px;
        box-shadow: 0 0 0 var(--purple-gray-2-light);
        background-color: var(--purple-gray-ultralight);
        svg {
            fill: var(--purple-core);
        }
    }
}

ul.projects {
    height: max-content;
    li {
        float: left;
        text-align: center;
        background-size: cover;
        p {
            color: black;
            margin-bottom: 0px;
        }
    }
}

div.project-title {
    background-size: cover;
    margin: -15px;
    margin-top: -15px;
    padding: 15px;
}

div.project-options {
    text-align: center;
}

li.link svg.external-link {
    height: 1em;
    width: 1em;
}
