:root {
    --purple-core: #ad0dff;
    --purple-light-1: #d177ff;
    --purple-light-2: #e2a8ff;
    --purple-dark-1: #600091;
    --purple-dark-2: #4a006f;
    --purple-gray-1: #a68cb3;
    --purple-gray-2: #978d9b;
    --purple-gray-1-light: #bdabc7;
    --purple-gray-2-light: #aaa2ae;
    --purple-gray-ultralight: #dad5dd;

    --cyan-core: #0abbff;
    --cyan-light-1: #76d9ff;
    --cyan-light-2: #a7e7ff;
    --cyan-dark-1: #006388;
    --cyan-dark-2: #004c69;
    --cyan-gray-1: #84a0aa;
    --cyan-gray-2: #858e92;
    --cyan-gray-1-light: #a5b9c0;
    --cyan-gray-2-light: #99a1a5;
    --cyan-gray-ultralight: #d1d6d8;

    --main-bg-color: var(--cyan-gray-ultralight, #d6d6d6);

    --bootstrap-success: #28a745;
    --bootstrap-danger: #dc3545;


    --main-text: 12pt Tahoma, sans-serif;
    --header-text: bold Verdana, sans-serif;

}

