<div class="row">
    <div class="col">
        <p class="footer">
            Home | About | Contact | Privacy<br><br>
            Site contents and style &copy;2020 Jonathan Fischer. All rights reserved.
        </p>
    </div>
</div>