<div class="row">
    <div class="col">
        <p class="footer">
            <a class="footer-link" href="#">Home</a> | 
            <a class="footer-link" href="#">About</a> | 
            <a class="footer-link" href="#">Contact</a> | 
            <a class="footer-link" href="#">Privacy</a>
            <br><br>
            Site contents and style &copy;2020 Jonathan Fischer. All rights reserved.
        </p>
    </div>
</div>