<div class="row">
    <div class="col">
    
        <ul class="nav">
            <li class="nav-item">
                <%= link_to "About Me", home_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Game Development", gamedev_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Game Music and Sound Design", gameaudio_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Web Development", webdev_path, class: "nav-link" %>
            </li>
        </ul>

    </div>
</div>